node_modules
.git
.gitignore
npm-debug.log
yarn-error.log
dist
build
.next
coverage
.expo
.expo-shared
android
ios
backend
*.pt
*.pth
*.onnx
*.h5
*.log
*.weights
datasets
models
node_modules
.expo
.git
.gitignore
.vscode

foodDetection
backend
runs
node_modules
.git
.gitignore
.vscode
*.pt
*.pth
*.onnx
datasets
models
venv